Repository jqlang/jq, pull requests merged in 2023-06, with the labels that each got.

#2582 docs: Update Flex URL
  docs/content/download/default.yml
Labels: docs

#2588 Typo in basic filters manual
  docs/content/manual/v1.6/manual.yml
Labels: docs

#2604 Improve docs of optional indexing syntax to make it clear (ref #2588)
  docs/content/manual/manual.yml
  docs/content/manual/v1.4/manual.yml
  docs/content/manual/v1.5/manual.yml
  docs/content/manual/v1.6/manual.yml
Labels: docs

#2602 Remove TravisCI configuration file and fix GitHub actions badges
  .travis.yml
  README.md
Labels: docs, test

#2603 Add a GitHub Actions workflow to build and update website
  .github/workflows/website.yml
  .gitignore
  docs/.gitignore
  scripts/update-website
Labels: docs

#2600 docs: install via winget
  docs/content/download/default.yml
Labels: docs

#2492 Show missing backslash in manual
  docs/content/manual/v1.6/manual.yml
Labels: docs

#1962 docs: replace find with select function as the example of jq-coded functions
  docs/content/manual/manual.yml
  docs/content/manual/v1.3/manual.yml
  docs/content/manual/v1.4/manual.yml
  docs/content/manual/v1.5/manual.yml
  docs/content/manual/v1.6/manual.yml
Labels: docs

#2212 Manual error -- key should be "foo" without spaces
  docs/content/manual/manual.yml
Labels: docs

#2432 [docs] Use yaml.safe_load() in build_*.py scripts
  docs/build_manpage.py
  docs/build_mantests.py
  docs/build_website.py
Labels: docs

#2462 docs: clarify split behavior
  docs/content/manual/manual.yml
Labels: docs

#2336 Fix typo
  docs/content/manual/manual.yml
  docs/content/manual/v1.6/manual.yml
  jq.1.prebuilt
Labels: docs

#2605 docs: Fix a try-catch example (fix #1558, #1777)
  docs/content/manual/manual.yml
  docs/content/manual/v1.5/manual.yml
  docs/content/manual/v1.6/manual.yml
Labels: docs

#2102 typos in manual.yml
  docs/content/manual/manual.yml
Labels: docs

#2391 Add fixes for manual
  docs/content/manual/manual.yml
Labels: docs

#2606 docs: Fix coding style of Python scripts using YAPF
  docs/build_manpage.py
  docs/build_mantests.py
  docs/build_website.py
Labels: docs

#2355 Link to the Onigurama docs
  docs/content/manual/manual.yml
Labels: docs

#2609 Fix misspellings
  .github/workflows/macos.yml
  COPYING
  ChangeLog
  Makefile.am
  NEWS
  README.md
  compile-ios.sh
  configure.ac
  docs/content/manual/manual.yml
  docs/content/manual/v1.3/manual.yml
  docs/content/manual/v1.4/manual.yml
  docs/content/manual/v1.5/manual.yml
  docs/content/manual/v1.6/manual.yml
  jq.1.prebuilt
  tests/shtest
Labels: docs

#2608 Fix version scripts for some shallow clone situations (fix #1549)
  configure.ac
  scripts/version
Labels: build

#2613 Fix regular expression section on PCRE (fix #2439), also improve example format
  docs/content/manual/manual.yml
  docs/content/manual/v1.5/manual.yml
  docs/content/manual/v1.6/manual.yml
Labels: docs

#1989 Update manual.yml
  docs/content/manual/manual.yml
Labels: docs

#2519 C99 compatibility enhancements for the configure script
  configure.ac
Labels: build

#2614 manual.yml - Perl NG
  docs/content/manual/manual.yml
Labels: docs

#2188 Add Windows installation via scoop
  docs/content/download/default.yml
Labels: docs

#2067 Fedora link returns 404
  docs/content/download/default.yml
Labels: docs

#2306 Added usage under Powershell to the manual
  docs/content/manual/manual.yml
  docs/content/manual/v1.6/manual.yml
Labels: docs

#2468 Use autotools standard ${docdir}
  Makefile.am
Labels: build

#2482 Fix double-installed doc
  Makefile.am
  README
Labels: build

#2619 Improve Download page: drop versions for each package manager
  docs/content/download/default.yml
  docs/templates/index.html.j2
Labels: docs

#2625 Document `length` for numbers and bools
  docs/content/manual/manual.yml
  docs/content/manual/v1.6/manual.yml
Labels: docs

#2626 Fix manual section titles, minor typos, and improve inline codes
  docs/content/manual/manual.yml
  docs/content/manual/v1.3/manual.yml
  docs/content/manual/v1.4/manual.yml
  docs/content/manual/v1.5/manual.yml
  docs/content/manual/v1.6/manual.yml
Labels: docs

#2629 Fix overflow exception of the modulo operator (fix #1176)
  src/builtin.c
  tests/jq.test
Labels: bug

#2254 Fix number lexer to avoid conflict with object indexing
  src/lexer.c
  src/lexer.l
  tests/jq.test
Labels: bug

#2630 Ignore error of outdated manual test when docs disabled (fix #2310)
  Makefile.am
Labels: test

#2631 Fix glibc warning about _BSD_SOURCE and redefined _GNU_SOURCE (fix #1978)
  src/builtin.c
Labels: build

#2632 Fix halt_error to print message without prefix in raw mode (fix #1902)
  src/main.c
  tests/shtest
Labels: bug

#2633 Fix "writing output failed" error of non ASCII output on Windows
  src/main.c
Labels: bug, windows

#2634 Fix bison warnings on incompatibilities with POSIX Yacc
  Makefile.am
  src/parser.y
Labels: build

#2357 Validate module metadata to be an object
  src/compile.c
  src/lexer.c
  src/lexer.h
  src/parser.c
  src/parser.h
  src/parser.y
  tests/jq.test
Labels: bug

#2639 Move an example to the manual and regenerate man.test
  docs/content/manual/manual.yml
  docs/content/manual/v1.6/manual.yml
  tests/man.test
Labels: test
