Repository jqlang/jq, pull requests merged in 2025-01, with the labels that each got.

#3233 tests: refactor constant folding tests
  tests/shtest
Labels: test

#3187 Move closer to the standard autotools idiom.
  .gitignore
  Makefile.am
  config/m4/check-math-func.m4
  config/m4/find-func-no-libs2.m4
  configure.ac
  scripts/version
  src/main.c
Labels: build

#3184 Escape some code parts in manual.
  docs/content/manual/dev/manual.yml
  docs/content/manual/v1.7/manual.yml
  jq.1.prebuilt
Labels: docs

#2945 refactor: move bsearch function to C-code
  src/builtin.c
  src/builtin.jq
  tests/jq.test
Labels: performance

#3235 tests: quote `.[]` in shtest which can break syntax highlight
  tests/shtest
Labels: test

#3239 Fix redundant subexpression in Generators and iterators example in doc
  docs/content/manual/dev/manual.yml
  jq.1.prebuilt
  tests/man.test
Labels: docs

#3237 website: deploy website from GitHub Actions
  .github/workflows/website.yml
  scripts/update-website
Labels: site

#3240 docs: mention the behavior of scan using regex with capturing groups
  docs/content/manual/dev/manual.yml
  docs/content/manual/v1.7/manual.yml
  jq.1.prebuilt
  tests/manonig.test
Labels: docs

#3241 docs: fix example links to jqplay.org
  docs/templates/manual.html.j2
Labels: docs
